{% extends 'back/layout_back.html.twig' %}

{% block title %}New Season{% endblock %}

{% block body %}
    <h1>Create new Season</h1>

    {{ include('back/season/_form.html.twig') }}

    <a href="{{ path('app_back_season_index', {"id": movie.id }) }}">back to list</a>
{% endblock %}
