{% extends 'back/layout_back.html.twig' %}

{% block title %}Edit Casting{% endblock %}

{% block body %}
    <h1>Edit Casting</h1>

    {{ include('back/casting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_casting_index') }}">back to list</a>

    {{ include('back/casting/_delete_form.html.twig') }}
{% endblock %}
