{% extends 'base.html.twig' %}

{% block title %}
	{{movie.title}}
	sur O'Flix
{% endblock %}

{% block body %}

	<!-- main -->

	<div class="container bg-lighttt pt-5">

	{{ form_start(form, {'method': 'POST', attr: {'novalidate': 'novalidate'}}) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-success mb-3">Envoyer</button>
	{{ form_end(form) }}

	</div>

{% endblock %}
